stages:
  - build
  - publish
  - deploy

build-linux-job:
  stage: build
  image: enderthecoder/libscrcpypp
  script:
    - mkdir build-linux
    - cd build-linux
    - cmake -G "Ninja Multi-Config"  ..
    - cmake --build . -j --config Release
  artifacts:
    name: libscrcpy++-${CI_PIPELINE_ID}-linux-x64
    paths:
      - build-linux/Release/libscrcpy++.a
      - build-linux/scrcpy++Config.cmake
      - build-linux/scrcpy++ConfigVersion.cmake
    expire_in: 14 days
  tags:
    - docker

build-windows-job:
  stage: build
  script:
    - mkdir build-windows
    - cd build-windows
    - cmake ..
    - cmake --build . --config Release
  artifacts:
    name: libscrcpy++-${CI_PIPELINE_ID}-windows-x64
    paths:
      - build-windows/Release/scrcpy++.lib
      - build-windows/scrcpy++Config.cmake
      - build-windows/scrcpy++ConfigVersion.cmake
    expire_in: 14 days
  tags:
    - windows

build-docker-job:
  stage: build
  script:
    - docker build -t enderthecoder/libscrcpypp:latest .
  tags:
    - linux

publish-docker-job:
  stage: publish
  script:
    - docker push enderthecoder/libscrcpypp
  tags:
    - linux

deploy-windows-job:
  stage: deploy
  script:
    - mkdir deploy-windows
    - cd deploy-windows
    - cmake ..
    - cmake --build . --config Release
    - cmake --install .
  tags:
    - windows